body {
    background-color:grey;
}
.app_bar {
    width: 100%;
    height: 60px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
}

.b_home {
    width: 100px;
    height: 50px;
    background: #ff0000;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50px;
}

.design {
    width: 100px;
    height: 50px;
    background: #ff0000;
    position: absolute;
    left: 150px;
    top: 5px;
    border-radius: 50px;
}

.service {
    width: 100px;
    height: 50px;
    background: #ff0000;
    position: absolute;
    left: 300px;
    top: 5px;
    border-radius: 50px;
}
.align {

	position: absolute;

	left: 300px;

}

.content {
    position: absolute;
    border-radius: 40px;
    background-color: #000000;
    width: 95px;
    height: 45px;
    top: 2.5px;
    left: 20px;
    margin: auto;
}

.text {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 5px;
}
.header {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 60;
    left: 0;
    overflow: clip;
    border-radius: 10px;
}
.queue {
    background-color: darkkhaki;
    width: 20em;
    height: 400px;
    position: absolute;
    top: 8em;
    overflow: scroll;
}
.pending {
    background-color: darkkhaki;
    width: 20em;
    height: 400px;
    position: absolute;
    top: 8em;
    overflow: scroll;
    left:22em;
}
.served {
    background-color: darkkhaki;
    width: 20em;
    height: 400px;
    position: absolute;
    top: 8em;
    overflow: scroll;
    left:43em;
}